<ion-header>
  <ion-toolbar>
    <ion-title>Kitchen</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!edit" (click)="toggleEdit()">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="edit" (click)="saveEdit()">
        <ion-icon
          name="checkmark-circle-outline"
          color="success"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item
    *ngIf="prodConsumedDocs === undefined || prodConsumedDocs.length <= 0"
  >
    <ion-label>
      <h4>No products consumed until now.</h4>
    </ion-label>
  </ion-item>
  <ion-list *ngFor="let doc of prodConsumedDocs">
    <ion-col *ngIf="doc !== undefined && doc?.products !== undefined">
      <ion-list-header>
        <ion-label>Table {{ doc.table}} </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let prod of doc?.products">
        <ion-grid>
          <ion-row>
            <ion-col size-lg="1" size-sm="3">
              <ion-label>
                <h4><b>{{ prod.amount }}x</b></h4>
              </ion-label>
            </ion-col>
            <ion-col size-sm="9">
              <ion-label>
                <h4>{{ prod.product }}</h4>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-chip>
                <ion-label
                  >{{ prod.amount - prod.delivered - prod.prepared }}</ion-label
                >
                <ion-icon name="receipt"></ion-icon>
              </ion-chip>
              <ion-chip>
                <ion-label>{{ prod.prepared }}</ion-label>
                <ion-icon name="fast-food"></ion-icon>
              </ion-chip>
              <ion-chip>
                <ion-label>{{ prod.delivered }}</ion-label>
                <ion-icon name="footsteps"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-buttons slot="end" *ngIf="edit">
          <ion-button disabled>
            <ion-icon name="receipt"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="backspace-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="orderedToPrepared(doc, prod)">
            <ion-icon name="fast-food"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="backspace-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="footsteps"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-col>
  </ion-list>
</ion-content>
