<ion-header>
  <ion-toolbar>
    <ion-title class="julies">Julies</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--
    <ion-buttons slot="end">
      <ion-button (click)="transition()">Transition</ion-button>
    </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col
        *ngFor="let obj of tables | orderBy: 'table.id'"
        class="ion-no-padding ion-no-margin ion-justify-content-center"
        size="3"
        size-md="2"
        size-lg="1"
      >
        <ion-card
          class="ion-no-padding"
          routerLink="/tabs/tables/table-details/{{obj.table.id}}"
          [color]="getColor(obj.table.state)"
        >
          <ion-card-header class="ion-text-center">
            <ion-card-title class="ion-text-center"
              >{{ obj.table.id }}</ion-card-title
            >
            <ion-label *ngIf="obj.table.state !== 'free'">
              <ion-icon
                slot="icon-only"
                [name]="getIcon(obj.table.state)"
              ></ion-icon>
            </ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
